body {
    background-color: rgb(26, 26, 26);
}

.heading {
    color: floralwhite;
    font-family: monospace;
    text-decoration-line: underline;
}

.text {
    color: floralwhite;
    font-family: monospace;
    font-size: small;
}